@import '~antd/lib/style/themes/default.less';
@import '~antd/dist/antd.css';
div.container{
    margin: 0 3em;
}




h1.page-title{
    color: rgba(0, 0, 0, 0.85);
    font-family: "Great Vibes", cursive;
    font-size: 70px;
    text-align: center;
    margin-top: -20px;
}

div.front-component{
    margin-bottom: 2em;
    position:relative;
}

div.front-component .left-part{
    width: 40%;
    float: left;
}
div.front-component .connection-bttns Button{
width:40%;
}
div.front-component .connection-bttns{
position:absolute;
left: 50%;
bottom: 0;
transform: translate(-50%, -50%);
display: flex;
width : 20%;
justify-content: space-between;
}
div.front-component .right-part{
    width: 50%;
    float: right;
    padding: 100px 0 ;
}

img.front-image{
    width: 400px;
    height: 400px;
    float: right;
}

div.page-description{
    color: rgba(0, 0, 0, 0.85);
    font-family: Andale Mono, monospace	;
    font-size: 1em;
    font-weight: 800;
    text-align: center;
}

.front-component:after {
    content: "";
    display: table;
    clear: both;
  }

hr.page-divider {
    border:none;
    height: 20px;
    width: 90%;
    height: 50px;
    margin-top: 0;
    border-bottom: 0px solid #1f1209;
    box-shadow: 0 15px 20px -20px #333;
    margin: -40px auto 20px;
}

h2.page-subtitle{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}

div.card-header{
    height: 290px;
    font-family: Optima, sans-serif	, monospace	;
    padding: 24px;
    margin : -24px -24px 0 -24px;
    background-color: #fff;
    border: 4px solid #7c7c7c30;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
div .card-header .title{
    color: rgba(0, 0, 0, 0.75) ;
    font-size: 1.5em;
    font-weight: 800;
    letter-spacing: 0.15em;
    height: 20%;
    text-align: center;
}

.offer-column{
    display: flex;
    margin-bottom: 30px;
}

div .card-header .description-1{
    font-size: 1em;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Andale Mono, monospace	;
    text-align: center;
}

div .card-header .description-2{
    font-size: 1em;
    height: 20%;
    font-weight: 700;
    font-family: Andale Mono, monospace	;
    text-align: center;
}

div .card-header .description-2 span{
    text-decoration: underline;
}

.card-content{
    border-radius: 7px;
    background-color: hwb(180 94% 6% / 0.984);
}

div .money{
    margin: 20px 0;
}

div.left-part{
    font-size: 3em;
    font-weight: 700;
    width: 60%;
    float:left;
    text-align: right;
    letter-spacing: -3px;

}

div .right-part{
    font-weight: 600;
    width: 40%;
    float:right;
    padding-left: 5px;
    transform: translateY(40px);
}

.money:after {
    content: "";
    display: table;
    clear: both;
  }

.btn{
    background-color: #407cff60;
    border-color: #407cff60;
    color :rgba(0, 0, 0, 0.65);
    display: block;
    margin: 10px auto;
    align-items: center;
}


.card-content .btn{

    width: 70%;
}

.card-content .advantages{
    font-family: Noto Sans, sans-serif, monospace, sans-serif;
    font-size: 1.1em;
}

.card-content .advantages-important{
    font-family: Noto Sans, sans-serif, monospace, sans-serif;
    font-size: 1.1em;
    font-weight: 600;
}

table{
    width: 100%;
}

table.table-bordered{
    background-color: #fff;
    border: 1px solid #44444460;
}

th{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    background-color: #7c7c7c30;
    padding: 20px;
}

td{
    border-top: 1px solid #44444460;
    padding: 20px;
    font-weight: 400;
    font-size: 17px;
}

.feature-option{
    width: 55%;
}

.checked-option{
    width: 15%;
}

.td-buttons{
    border: none;
    padding: 0;
    text-align: center;

}

.btn-detail{
    width: 95%;
    height: 40px;
}

